Here we are using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. See (http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.


Which state has the most counties in it?

In [2]:
import pandas as pd
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [3]:
def answer_five():
    df3 = census_df
    df3=df3[df3['SUMLEV'] == 50]
    maxstate=0
    for a in df3['STNAME']:
        s=len(df3.groupby(['STNAME']).get_group(a))
        if s>maxstate:
            maxstate=s
            b=a
    return b
answer_five()

'Texas'

Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

In [4]:
def answer_six():
    df4 = census_df
    df4=df4[df4['SUMLEV'] == 50]
    columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'CENSUS2010POP']
    df4 = df4[columns_to_keep]
    sortofpop=dict()
    for a in df4['STNAME']:
        dftemp=df4.groupby(['STNAME']).get_group(a)
        temp=dftemp.sort_values(by=['CENSUS2010POP'],ascending=False).head(3)
        sortofpop[a]=sum(temp['CENSUS2010POP'])
    sorted_x = sorted(sortofpop.items(), key = lambda kv:(kv[1], kv[0]))
    return [sorted_x[-1][0],sorted_x[-2][0],sorted_x[-3][0]]
answer_six()

['California', 'Texas', 'Illinois']

Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

In [5]:
def answer_seven():
    import pandas as p
    import numpy as np
    df5 = census_df
    df5=df5[df5['SUMLEV'] == 50]
    columns_to_keep = ['CTYNAME',
                      'POPESTIMATE2010',
                      'POPESTIMATE2011',
                      'POPESTIMATE2012',
                      'POPESTIMATE2013',
                      'POPESTIMATE2014',
                      'POPESTIMATE2015',]
    df5 = df5[columns_to_keep]
    df5=df5.set_index('CTYNAME')
    df5['maxpop']=np.max(df5.values,axis=1)
    df5['minpop']=np.min(df5.values,axis=1)
    df5['diff']=df5['maxpop']-df5['minpop'] 
    df5=df5.sort_values(by=['diff'],ascending=False)
    return df5.index[0]
answer_seven()

'Harris County'

In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

In [6]:
def answer_eight():
    df6 = census_df
    df6=df6[df6['SUMLEV'] == 50]
    df6=df6[df6['CTYNAME'].str.startswith('Washington')]
    df6=df6[(df6['REGION']== 1)|(df6['REGION']== 2) ]
    df6=df6[df6['POPESTIMATE2015']>df6['POPESTIMATE2014']]
    df6.dropna()
    return df6[['STNAME', 'CTYNAME']]
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County